.cert-container{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cert-info{
    height: auto;
    width: 400px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 25px;
}

.cert-image{
    margin: 10px;
}

.cert-image img{
    width: 70%;
}

.cert-details{
    margin: 10px;
    padding: 5px 20px;
    text-align: justify;
    border-radius: 25px;
    background-color: #e1f1ff;
}

a{
    text-decoration: none;
}

li{
    padding: 4px;
}

@media screen and (min-width: 760px) 
{
    .cert-info{
        width: 90%;
    }
    .cert-image{
        width: 400px;
    }
}

@media screen and (min-width: 1024px) 
{
    .cert-info{
        width: 90%;
    }
    .cert-image{
        width: 400px;
    }
}